header {
    padding: 20px 100px;
    position: fixed;
    width: 100vw;
    user-select: none;
    margin-top: -150px;
    z-index: 2;
}

header .container:nth-child(2n) a {
    text-decoration: none;
    color: var(--c4);
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: -77px;
}

h1 {
    font-size: 2em;
    font-family: var(--logo);
    margin-left: 15px;
}

header ion-icon {
    width: 23px;
    height: 23px;
    color: var(--c4);
    margin: 0 5px;
}

nav {
    margin: 104px 0;
    position: fixed;
    width: 100vw;
    transition: .15s;
    margin-top: -45px;
}

nav.sticky {
    opacity: 0;
    transition: .3s;
    z-index: -1000;
}

nav a {
    color: var(--c4);
    text-decoration: none;
    margin: 0 20px;
    padding: 1px 5px;
}

/* */
header .container .content {
    display: flex;
    justify-content: center;
}

/* Adicionando estilo para o contêiner de pesquisa */
#searchContainer {
    display: flex;
    border-bottom: 1px solid var(--c4); /* Adicionando uma linha em baixo */
    padding: 5px; /* Adicionando um espaçamento interno */
    visibility: hidden; /* Escondendo o contêiner de pesquisa por padrão */
    opacity: 0; /* Definindo a opacidade para 0 */
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* Adicionando transição para suavizar a exibição */
}

/* Estilizando a lupa */
#searchIcon {
    width: 23px;
    height: 23px;
    color: var(--c4);
    margin-right: 5px; /* Adicionando um espaçamento entre a lupa e a caixa de pesquisa */
    cursor: pointer; /* Transformando o cursor em uma mãozinha ao passar por cima */
}

/* Estilizando a lupa preenchida */
#searchIcon.search {
    color: #000; /* Troque a cor para a desejada quando o ícone estiver preenchido */
}

/* Estilizando a caixa de pesquisa */
#searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 150px; /* Ajuste a largura conforme necessário */
    color: var(--c4);
}

/* Exibindo o contêiner de pesquisa quando a classe "show" é adicionada */
#searchContainer.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


main {
    margin: 150px auto 0 auto;
    max-width: 1000px;
    padding: 50px 0;
}

aside {
    width: 100%;
    background: var(--c0);
    padding: 20px 40px;
    cursor: default;
}

aside .container .content {
    margin: 0 5px;
    max-width: 160px;
}

aside ion-icon {
    width: 30px;
    height: 30px;
    color: var(--c4);
}

aside h2 {
    font-size: 1.3em;
    color: var(--c4);
}

aside p, a {
    font-size: .95em;
    color: var(--c4);
}

aside a {
    color: var(--c4);
}


/* MEDIA */
@media (max-width: 1100px) {
    main {
        margin: 150px auto 0 auto;
        max-width: 800px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }
}

@media (max-width: 830px) {
    main {
        margin: 150px auto 0 auto;
        max-width: 700px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 50px;
        position: fixed;
        width: 100vw;
        user-select: none;
        margin-top: -24px;
        z-index: 2;
    }
    
    .logo {
        display: none;
    }
    
    header ion-icon {
        width: 30px !important;
        height: 30px !important;
        color: var(--c4);
        margin: 0 15px;
    }
    
    nav {
        display: none !important;
    }
    
    nav.sticky {
        opacity: 0;
        transition: .3s;
        z-index: -1000;
    }
    
    nav a {
        color: var(--c4);
        text-decoration: none;
        margin: 0 20px;
        padding: 1px 5px;
    }

    main {
        margin: 24px auto 0 auto;
        max-width: 800px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }

    /* Estilizando a caixa de pesquisa */
    #searchInput {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        width: 250px; /* Ajuste a largura conforme necessário */
        color: var(--c4);
        z-index: 10;
    }
}