@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c0: #CFCFCF; 
    --c1: #BEBEBE; 
    --c2: #9C9C9C; 
    --c3: #828282; 
    --c4: #363636; 

    --padrao: 'Urbanist', Arial, Helvetica, Sans-Serif;
    --logo: 'Pirata One', fantasy, Sans-Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--padrao);
    overflow-x: hidden;
}
/*
body {
    width: 100%;
    height: 3000px;
    background-image: url(../Img/teste.jpg);
    background-position: center;
    background-repeat: no-repeat;
} */

body::-webkit-scrollbar {
    background-color: transparent;
    width: 20px;
    border-radius: 20px;
    height: 100px;
    padding: 5px;
    border: 10px solid #fff;

}

body::-webkit-scrollbar-thumb {
    background: var(--c4);
    border: 6px solid #fff;
    border-radius: 20px;
}

/* Display Flex */
.flex {
    display: flex;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.flexstart {
    display: flex;
    justify-content: start;
}

.flexend {
    display: flex;
    justify-content: end;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
}

.flexaround {
    display: flex;
    justify-content: space-around;
}

.flexevenly {
    display: flex;
    justify-content: space-evenly;
}
/* Display Flex */

/* Blurs */
.blur5 {
    background: transparent;
    backdrop-filter: blur(5px);
}

.blur10 {
    background: transparent;
    backdrop-filter: blur(10px);
}

.blur15 {
    background: transparent;
    backdrop-filter: blur(15px);
}

.blur20 {
    background: transparent;
    backdrop-filter: blur(20px);
}

.blur25 {
    background: transparent;
    backdrop-filter: blur(25px);
}

.blur30 {
    background: transparent;
    backdrop-filter: blur(30px);
}
/* Blurs */

/* Hide */
.hide {
    display: none;
}
.displayblock {
    display: block;
}
/* Hide */

/* Align */
.aligncenter {
    align-items: center;
}

.alignstar {
    align-items: start;
}

.alignend {
    align-items: end;
}
/* Align */

/* Display */

/* Display */