@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --c0: #CFCFCF; 
    --c1: #BEBEBE; 
    --c2: #9C9C9C; 
    --c3: #828282; 
    --c4: #363636; 

    --padrao: 'Urbanist', Arial, Helvetica, Sans-Serif;
    --logo: 'Pirata One', fantasy, Sans-Serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--padrao);
}
/*
body {
    width: 100%;
    height: 3000px;
    background-image: url(../Img/teste.jpg);
    background-position: center;
    background-repeat: no-repeat;
} */

body::-webkit-scrollbar {
    background-color: transparent;
    width: 20px;
    border-radius: 20px;
    height: 100px;
    padding: 5px;
    border: 10px solid #fff;

}

body::-webkit-scrollbar-thumb {
    background: var(--c4);
    border: 6px solid #fff;
    border-radius: 20px;
}

/* Display Flex */
.flex {
    display: flex;
}

.flexcenter {
    display: flex;
    justify-content: center;
}

.flexstart {
    display: flex;
    justify-content: start;
}

.flexend {
    display: flex;
    justify-content: end;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
}

.flexaround {
    display: flex;
    justify-content: space-around;
}

.flexevenly {
    display: flex;
    justify-content: space-evenly;
}
/* Display Flex */

/* Blurs */
.blur5 {
    background: transparent;
    backdrop-filter: blur(5px);
}

.blur10 {
    background: transparent;
    backdrop-filter: blur(10px);
}

.blur15 {
    background: transparent;
    backdrop-filter: blur(15px);
}

.blur20 {
    background: transparent;
    backdrop-filter: blur(20px);
}

.blur25 {
    background: transparent;
    backdrop-filter: blur(25px);
}

.blur30 {
    background: transparent;
    backdrop-filter: blur(30px);
}
/* Blurs */

.hide {
    display: none;
}

header {
    padding: 20px 100px;
    align-items: center;
    position: fixed;
    width: 100vw;
    user-select: none;
    margin-top: -150px;
    z-index: 2;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: -110px;
}

header ion-icon {
    width: 23px;
    height: 23px;
    color: var(--c4);
    margin: 0 5px;
}

nav {
    margin: 104px 0;
    position: fixed;
    width: 100vw;
    transition: .15s;
    margin-top: -45px;
}

nav.sticky {
    opacity: 0;
    transition: .3s;
    z-index: -1000;
}

nav a {
    color: var(--c4);
    text-decoration: none;
    margin: 0 20px;
    padding: 1px 5px;
}

/* */
header .container .content {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinhar a lupa e a caixa de pesquisa verticalmente */
}

/* Adicionando estilo para o contêiner de pesquisa */
#searchContainer {
    display: flex;
    align-items: center; /* Alinhar a lupa e a caixa de pesquisa verticalmente */
    border-bottom: 1px solid var(--c4); /* Adicionando uma linha em baixo */
    padding: 5px; /* Adicionando um espaçamento interno */
    visibility: hidden; /* Escondendo o contêiner de pesquisa por padrão */
    opacity: 0; /* Definindo a opacidade para 0 */
    transition: opacity 0.2s ease-in-out, visibility 0s linear 0.2s; /* Adicionando transição para suavizar a exibição */
}

/* Estilizando a lupa */
#searchIcon {
    width: 23px;
    height: 23px;
    color: var(--c4);
    margin-right: 5px; /* Adicionando um espaçamento entre a lupa e a caixa de pesquisa */
    cursor: pointer; /* Transformando o cursor em uma mãozinha ao passar por cima */
}

/* Estilizando a lupa preenchida */
#searchIcon.search {
    color: #000; /* Troque a cor para a desejada quando o ícone estiver preenchido */
}

/* Estilizando a caixa de pesquisa */
#searchInput {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 150px; /* Ajuste a largura conforme necessário */
    color: var(--c4);
}

/* Exibindo o contêiner de pesquisa quando a classe "show" é adicionada */
#searchContainer.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}


main {
    margin: 150px auto 0 auto;
    max-width: 1000px;
    padding: 50px 0;
}

aside {
    width: 100%;
    background: var(--c0);
    padding: 20px 40px;
    cursor: default;
}

aside .container {
    align-items: center;
}

aside .container .content {
    margin: 0 5px;
    max-width: 160px;
}

aside ion-icon {
    width: 30px;
    height: 30px;
    color: var(--c4);
}

aside h2 {
    font-size: 1.3em;
    color: var(--c4);
}

aside p, a {
    font-size: .95em;
    color: var(--c4);
}

aside a {
    color: var(--c4);
}


/* MEDIA */
@media (max-width: 1100px) {
    main {
        margin: 150px auto 0 auto;
        max-width: 800px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }
}

@media (max-width: 830px) {
    main {
        margin: 150px auto 0 auto;
        max-width: 700px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 50px;
        align-items: center;
        position: fixed;
        width: 100vw;
        user-select: none;
        margin-top: -24px;
        z-index: 2;
    }
    
    .logo {
        display: none;
    }
    
    header ion-icon {
        width: 30px !important;
        height: 30px !important;
        color: var(--c4);
        margin: 0 15px;
    }
    
    nav {
        display: none !important;
    }
    
    nav.sticky {
        opacity: 0;
        transition: .3s;
        z-index: -1000;
    }
    
    nav a {
        color: var(--c4);
        text-decoration: none;
        margin: 0 20px;
        padding: 1px 5px;
    }

    main {
        margin: 24px auto 0 auto;
        max-width: 800px;
        padding: 50px 0;
    }

    aside {
        width: 100%;
        background: var(--c0);
        padding: 20px 40px;
        cursor: default;
    }

    aside .container .content {
        margin: 0 3px;
        max-width: 150px;
    }

    aside ion-icon {
        width: 25px;
        height: 25px;
        color: var(--c4);
    }
    
    aside h2 {
        font-size: 1.2em;
        color: var(--c4);
    }

    /* Estilizando a caixa de pesquisa */
    #searchInput {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 16px;
        width: 300px; /* Ajuste a largura conforme necessário */
        color: var(--c4);
        z-index: 10;
    }
}